@media (min-width: 768px) {
    .AboutMeSection {
        width: 1006px;
        height: 150px;
        flex-shrink: 0;
        margin-left: 480px;
        margin-top: 150px;
    }

    .allAbout {
        display: flex;
        gap: 150px;
        justify-content: center;
    }

    .h1About {
        color: var(--white, #ffffff);
        font: 800 40px "Inter", sans-serif;
    }

    .pA {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white, #ffffff);
        text-align: left;
        font: var(--paragraph, 400 16px/30px "Inter", sans-serif);
        width: 615px;
    }
}

