<<<<<<< HEAD
.AboutMeSection {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.allAbout {
    margin-top: 125px;
    background-color: var(--background);
    color: white;
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 80px;
}

.h1About {
    color: var(--white, #ffffff);
    font: 800 40px "Inter", sans-serif;
}

.pA {
    color: var(--white, #ffffff);
    text-align: left;
    font: var(--paragraph, 400 16px/30px "Inter", sans-serif);
    width: 615px;
}

=======
.AboutMeSection {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.allAbout {
    margin-top: 125px;
    background-color: var(--background);
    color: white;
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 80px;
}

.h1About {
    color: var(--white, #ffffff);
    font: 800 40px "Inter", sans-serif;
}

.pA {
    color: var(--white, #ffffff);
    text-align: left;
    font: var(--paragraph, 400 16px/30px "Inter", sans-serif);
    width: 615px;
}

>>>>>>> 2bd1ad2538a22f5858665a981b2fb3ea60ddc65a
