@media (min-width: 768px) {
    .allbanner {
        margin-top: 154px;
        background-color: var(--background);
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 882.724px;
        height: 277.099px;
        flex-shrink: 0;
        gap: 124.93px;
        margin-left: 417px;
        margin-right: 285.28px;
    }

    .bannerBox {
        width: 320px;
        height: 277px;
        flex-shrink: 0;
        margin-left: 272px;
        display: grid;
        gap: 20px;
    }

    .bannerImg {
        width: 437.792px;
        height: 265.656px;
        flex-shrink: 0;
        margin-left: 124px;
    }

    .nomeBanner {
        color: var(--purple, #6880ff);
        text-align: left;
        font: 400 15px "Poppins", sans-serif;
        position: relative;
    }

    .h1Banner {
        color: var(--white, #ffffff);
        text-align: left;
        font: 800 40px "Inter", sans-serif;
        position: relative;
    }

    .pBanner {
        color: var(--white, #ffffff);
        text-align: left;
        font: 400 15px "Poppins", sans-serif;
        position: relative;
    }

    .buttonBanner {
        background: var(--purple, #6880ff);
        border-radius: 12px;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        width: 130px;
        height: 39px;
        position: relative;
        color: #ffffff;
        text-align: center;
        font: 600 14px "Inter", sans-serif;
        position: relative;
        margin-top: 40px;
    }
}