:root{
  --font-primary: 'Oswald', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --background: #181818;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--background);
  color: var(--color-white);
  font-family: var(--font-secondary);
}

button:hover {
  background: #7c91ff;
  border-radius: 12px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 130px;
  height: 39px;
  position: relative;
}

a:hover {
  color: #7c91ff;
  text-align: left;
  text-decoration: underline;
  position: relative;
}