@media (min-width: 768px) {
    .ProjectSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--background);
        width: 896px;
        height: 462px;
        flex-shrink: 0;
        padding-top: 50px;
        margin-left: 540px;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .h1Box {
        margin-left: 100px;
        display: flex;
        color: #ffffff;
        font-weight: 800;
        font-size: 40px;
        line-height: 60px;
        font-family: "Inter", sans-serif;
    }

    .h1projects {
        display: flex;
        color: #ffffff;
        font-weight: 800;
        font-size: 40px;
        line-height: 60px;
        font-family: "Inter", sans-serif;
        margin-top: -150px;
    }


    .allProjects {
        display: flex;
        flex-wrap: wrap;
        color: white;
        margin-top: 300px;
        width: 100%;
        max-width: 1200px;
        align-items: center;
        justify-content: center;
    }

    .ulProducts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 15px;
        width: 1200px;
        height: 385px;
    }

    .all {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        list-style: none;
    }

    .liProducts {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 500px;
        height: 183px;
        flex-shrink: 0;
        align-content: center;
        justify-content: space-evenly;
        align-items: start;
    }

    .aP {
        padding-left: 15px;
    }

    .h3Products,
    .pProducts {
        color: #ffffff;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        font-family: "Inter", sans-serif;
        width: 173px;
    }

    .pB {
        display: grid;
        margin-top: 25px;
    }

    .h3Img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 250px;
        margin-top: 20px;
        align-items: center;
    }

    .imgProducts {
        display: flex;
        width: 37px;
        height: 38px;
    }

    .buttonProducts {
        margin-top: 10px;
        width: 173px;
        height: 48px;
        background-color: var(--background);
        color: #6880ff;
        border: none;
        font-weight: 700;
        font-size: 16px;
        text-align: left;
        line-height: 30px;
        font-family: "Inter", sans-serif;
    }
}

