<<<<<<< HEAD
.ProjectSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.h1Box {
    display: flex;
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    font-family: "Inter", sans-serif;
}

.h1projects {
    display: flex;
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    font-family: "Inter", sans-serif;
    margin-left: 150px;
    margin-top: -150px;
}


.allProjects {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-top: 300px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

.ulProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    list-style: none;
}

.liProducts {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 439px;
    height: 183px;
    align-content: center;
    justify-content: space-evenly;
    align-items: start;
}

.aP {
    padding-left: 15px;
}

.h3Products,
.pProducts {
    color: #ffffff;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: "Inter", sans-serif;
    width: 173px;
}

.pB {
    display: grid;
}

.h3Img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 190px;
    align-items: center;
}

.imgProducts {
    display: flex;
    width: 37px;
    height: 38px;
}

.buttonProducts {
    width: 173px;
    height: 48px;
    background-color: var(--background);
    color: #6880ff;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    font-family: "Inter", sans-serif;
}

=======
.ProjectSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.h1Box {
    display: flex;
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    font-family: "Inter", sans-serif;
}

.h1projects {
    display: flex;
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    font-family: "Inter", sans-serif;
    margin-left: 150px;
    margin-top: -150px;
}


.allProjects {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-top: 300px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

.ulProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    list-style: none;
}

.liProducts {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 439px;
    height: 183px;
    align-content: center;
    justify-content: space-evenly;
    align-items: start;
}

.aP {
    padding-left: 15px;
}

.h3Products,
.pProducts {
    color: #ffffff;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: "Inter", sans-serif;
    width: 173px;
}

.pB {
    display: grid;
}

.h3Img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 190px;
    align-items: center;
}

.imgProducts {
    display: flex;
    width: 37px;
    height: 38px;
}

.buttonProducts {
    width: 173px;
    height: 48px;
    background-color: var(--background);
    color: #6880ff;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    font-family: "Inter", sans-serif;
}

>>>>>>> 2bd1ad2538a22f5858665a981b2fb3ea60ddc65a
