<<<<<<< HEAD
.TechSection {
    margin-top: 125px;
    margin-left: -25px;
    background-color: var(--background);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul {
    margin-top: 30px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.techH1 {
    display: flex;
    color: var(--white, #ffffff);
    text-align: left;
    font: 800 40px "Inter", sans-serif;
    position: relative;
}

.allTech {
    justify-content: center;
    
    width: 896px;
    height: 187px;
}

.imgUl {
    display: flex;
    width: 28px;
    height: 37px;
}

.techUl {
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    border-radius: 25px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    width: 287px;
    align-items: center;
    justify-content: space-evenly;
    height: 86px;
=======
.TechSection {
    margin-top: 125px;
    margin-left: -25px;
    background-color: var(--background);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul {
    margin-top: 30px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.techH1 {
    display: flex;
    color: var(--white, #ffffff);
    text-align: left;
    font: 800 40px "Inter", sans-serif;
    position: relative;
}

.allTech {
    justify-content: center;
    
    width: 896px;
    height: 187px;
}

.imgUl {
    display: flex;
    width: 28px;
    height: 37px;
}

.techUl {
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    border-radius: 25px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    width: 287px;
    align-items: center;
    justify-content: space-evenly;
    height: 86px;
>>>>>>> 2bd1ad2538a22f5858665a981b2fb3ea60ddc65a
}